<footer class="footer-container text-center text-lg-start">
  <div class="container d-flex flex-column flex-lg-row justify-content-between align-items-center py-4">
    <div class="mb-3 mb-lg-0">
      <span class="footer-text">© 2025 Shubham Raj Verma. All Rights Reserved.</span>
    </div>
    <div>
      <a href="mailto:vermashubham.srv@gmail.com" target="_blank" class="footer-icon me-3">
        <i class="bi bi-envelope-fill"></i>
      </a>
      <a href="https://github.com/srv-geek" target="_blank" class="footer-icon me-3">
        <i class="bi bi-github"></i>
      </a>
      <a href="http://linkedin.com/in/shubham-verma-177a50192" target="_blank" class="footer-icon">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
  </div>
</footer>

