.radiant-bg {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%); 
  color: #39045a;
}

.contact-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Inter', sans-serif;
}

.info-card {
  background: rgba(255, 255, 255, 0.288);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #160c34;
  backdrop-filter: blur(10px);
  font-family: 'Inter', sans-serif;
}

.info-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.contact-icon {
  font-size: 2.2rem;
  color: #f20d37;
}

.social-links a {
  color: #f9fafb;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ee2929;
}
