<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="certificates-section py-5" id="certificates">
  <div class="container text-center">
    <h2 class="fw-bold mb-4" data-aos="zoom-in">📌 Certifications</h2>
    <p class="mb-5 fs-5" data-aos="fade-up" data-aos-delay="100">
      Here's a glimpse of my certified skillset. Each certification reflects my commitment to mastering full-stack development and industry-relevant tools.
    </p>

    <div class="row justify-content-center g-4 mb-4">
      <div class="col-md-6 col-lg-5" data-aos="fade-up" >
        <div class="certificate-card text-center p-3 h-100">
          <img src="assets/Java_full_stack.jpg" alt="Java Full Stack" class="img-fluid rounded mb-3 cert-img" />
          <h6 class="mb-1">Java Full Stack Development</h6>
          <p class="mb-1 text-muted small">The Kiran Academy</p>
          <a href="https://drive.google.com/file/d/1q_7sKuYUydOtMm4gmgrL2gWmgmOwosgx/view?usp=drive_link" target="_blank" class="btn btn-sm btn-outline-light">See Credential</a>
        </div>
      </div>

      <div class="col-md-6 col-lg-5" data-aos="fade-up" >
        <div class="certificate-card text-center p-3 h-100">
          <img src="assets/Angular_udemy.jpg" alt="Angukar Udemy" class="img-fluid rounded mb-3 cert-img" />
          <h6 class="mb-1">The Complete Angular Course: Beginner to Advanced</h6>
          <p class="mb-1 text-muted small">Udemy</p>
          <a href="https://drive.google.com/file/d/1vVwK8Bg-rBjya9aXF59mW2kQ-gezStFv/view?usp=drive_link" target="_blank" class="btn btn-sm btn-outline-light">See Credential</a>
        </div>
      </div>
    </div>

    <div class="row justify-content-center g-4 mb-4">
      <div class="col-md-6 col-lg-5" data-aos="fade-up" data-aos-delay="100">
        <div class="certificate-card text-center p-3 h-100">
          <img src="assets/Python_ebox.jpg" alt="Python Internship" class="img-fluid rounded mb-3 cert-img" />
          <h6 class="mb-1">Object Oriented Programming using Python</h6>
          <p class="mb-1 text-muted small">E-Box</p>
          <a href="https://drive.google.com/file/d/137ek6lTOTI3CEIx7dALRbs0gZ6odAq0a/view?usp=drive_link" target="_blank" class="btn btn-sm btn-outline-light">See Credential</a>
        </div>
      </div>

      <div class="col-md-6 col-lg-5" data-aos="fade-up" data-aos-delay="100">
        <div class="certificate-card text-center p-3 h-100">
          <img src="assets/Java_cipher.jpg" alt="Java Training" class="img-fluid rounded mb-3 cert-img" />
          <h6 class="mb-1">Online Training on Java</h6>
          <p class="mb-1 text-muted small">Cipher Schools</p>
          <a href="https://drive.google.com/file/d/1t2FnOFU03TX-8YBhCeDJNhyGA9-ft3Wt/view?usp=drive_link" target="_blank" class="btn btn-sm btn-outline-light">See Credential</a>
        </div>
      </div>
    </div>

    <div class="row justify-content-center g-4 mb-4">
      <div class="col-md-6 col-lg-5" data-aos="fade-up" data-aos-delay="150">
        <div class="certificate-card text-center p-3 h-100">
          <img src="assets/cipher_school.jpg" alt="React Training" class="img-fluid rounded mb-3 cert-img" />
          <h6 class="mb-1">Training in React & Redux</h6>
          <p class="mb-1 text-muted small">Cipher Schools</p>
          <a href="https://drive.google.com/file/d/1lX7XILzglhdHZb2Nm8csO0-9W2dqx2Wb/view?usp=drive_link" target="_blank" class="btn btn-sm btn-outline-light">See Credential</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-5" data-aos="fade-up" data-aos-delay="150">
        <div class="certificate-card text-center p-3 h-100">
          <img src="assets/Docker_swarm.jpg" alt="Docker Swarm" class="img-fluid rounded mb-3 cert-img" />
          <h6 class="mb-1">Docker Swarm</h6>
          <p class="mb-1 text-muted small">Great Learning</p>
          <a href="https://drive.google.com/file/d/1Yd9bISnow-fjXwGuP2nH0F4vomRIR_ex/view?usp=drive_link" target="_blank" class="btn btn-sm btn-outline-light">See Credential</a>
        </div>
      </div>

    </div>

    <div class="row justify-content-center g-4">
      <div class="col-md-6 col-lg-5" data-aos="fade-up" data-aos-delay="200">
        <div class="certificate-card text-center p-3 h-100">
          <img src="assets/It_cyber.jpg" alt="Cybersecurity" class="img-fluid rounded mb-3 cert-img" />
          <h6 class="mb-1">Introduction to IT & Cybersecurity</h6>
          <p class="mb-1 text-muted small">CYBRARY</p>
          <a href="https://drive.google.com/file/d/10f8gS8rI9bqsxxqrC9ErqecTKyt5asX-/view?usp=drive_link" target="_blank" class="btn btn-sm btn-outline-light">See Credential</a>
        </div>
      </div>

      <div class="col-md-6 col-lg-5" data-aos="fade-up" data-aos-delay="200">
        <div class="certificate-card text-center p-3 h-100">
          <img src="assets/Microsoft_azure.jpg" alt="Azure Security" class="img-fluid rounded mb-3 cert-img" />
          <h6 class="mb-1">AZ-500: Microsoft Azure Security Technologies</h6>
          <p class="mb-1 text-muted small">CYBRARY</p>
          <a href="https://drive.google.com/file/d/1eR39lw1paMCycn_hc9YyUi7J_03BWePH/view?usp=drive_link" target="_blank" class="btn btn-sm btn-outline-light">See Credential</a>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>